.cityName-Div {
    color:white;
    background-color:#2185D0;
    padding:10px;
    margin:0px;
}

#card{
    padding:1em;
    background-color: black;
    color: white;
    //box-shadow: 5px 5px 9px red;
    border-radius: 2em;
    //box-shadow: 5px 5px 1px blue;
    img {
        position: absolute; 
        top: 10%;
        left:65%;
        height:64px;
        width: 64px;
    }
    .j{
        //display: none;
        
    }
    &:hover{
        // box-shadow: 10px 20px 10px red;
         //border-radius: 2em;
         .j{
             border-radius: 4px; 
             background-color: white;
             color:black
         }
 
     }
    
}