$fontSize : large;
$margin : 1em;
$padding: 1em;
$fontWeight:bolder;
$fontColor:white;
$backgroundColor:black;

.topNavBar {
    
    div{
        background-color: $backgroundColor;
        padding: $padding;
        a {
            font-size: $fontSize;
            font-weight: $fontWeight;
        }
        .lable {
            color: white;
            margin: $margin;
            padding: $padding;
            font-weight: $fontWeight;
            &:hover{
                background-color: rgba(56, 55, 55, 0.993);
            }
            .link {
                color:$fontColor; 
            } 
        }
        
    }

    
}

.HeaderDesktopView {
    display: inline;
}

@media (max-width:  760px){
    .HeaderDesktopView{
        display: none;
    }
    
}